@import "themes/mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @green;
}

#workspaces button {
    padding: 5px;
    color: @surface2;
    margin-right: 5px;
}

#workspaces button.active {
    color: @green;
}

#workspaces button.focused {
    color: @subtext0;
    background: @maroon;
    border-radius: 10px;
}

#workspaces button.urgent {
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    color: @crust;
    background: @text;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#custom-media,
#backlight {
    background: @base;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#clock {
    color: @green;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#workspaces {
    color: @green;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-media {
    color: @green;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 10px;
    border-right: 0px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#memory {
    color: @green;
    border-radius: 10px 0px 0px 10px;
}

#cpu {
    color: @green;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#network {
    color: @green;
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    color: @green;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @green;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}
